.irave{
	position: absolute;
    top: 40%;
    left: 45%;
}

.button{
	position: absolute;
    top: 50.5%;
    left: 52.8%;
}

.scroll{
	position: absolute;
    top: 44%;
    left: 52.8%;
}